@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');


:root{
    --font01: 'Geologica', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}



html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-transform: uppercase;
}

header > p {
    padding-bottom: 40px;
    margin-top: 10px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
    font-family: var(--font01);
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgb(48, 48, 48);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.418);
    display: inline-block;
    padding: 5px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}